<a href="https://colab.research.google.com/github/kyletran77/Coursera_Capstone/blob/master/Week_3.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1 . Import the libraries to scrape the website**

In [0]:
import pandas as pd   #import the libraries we need
from bs4 import BeautifulSoup  #lib for table html
import requests

**2. Use the wiki url and parse data into BeautifulSoup**

In [0]:
url  = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url)
soup = BeautifulSoup(html.text, 'html5lib') #get wiki

In [0]:
postallist = [] #list for each cell
boroughlist = []
neighbourhood = []

**3.  Locate the rows from table and update each row into the lists.**

In [0]:
soup.find('table').find_all('tr')#table
soup.find('table').find_all('td')#rows
for row in soup.find('table').find_all('tr'):
  cells = row.find_all('td')#find all rows in table
  if(len(cells)>0):
    postallist.append(cells[0].text)
    boroughlist.append(cells[1].text)
    neighbourhood.append(cells[2].text.rstrip('\n'))# strip the ending to prevent newlines

**4. Create a dataframe**

In [6]:
tor_df = pd.DataFrame({'PostalCode': postallist,
                      'Borough':boroughlist,
                      'Neighborhood':neighbourhood}) #create the dataframe 
tor_df.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

In [7]:
tor_df1 = tor_df[tor_df['Borough'] != 'Not assigned'].reset_index(drop=True)
tor_df1.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [8]:
tor_group=tor_df1.groupby(['PostalCode', 'Borough'], as_index = False).agg(lambda x: ','.join(x))
tor_group.head(12)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                      Rouge,Malvern
1         M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough                    Guildwood,Morningside,West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7         M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8         M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9         M1N  Scarborough                         Birch Cliff,Cliffside West
10        M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...
11        M1R  Scarborough                                   Maryvale,Wexford

**5. Organize table to match question’s values**

In [9]:
columns_ = ['PostalCode','Borough','Neighborhood']
test_d = pd.DataFrame(columns= columns_)#create test dataframe

test_list = ['M5G','M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R','M9V','M9L','M5V','M1B', 'M5A']

for code in test_list:#update test dataframe where it takes each value in the test list to get the value
  test_d = test_d.append(tor_group[tor_group['PostalCode']==code], ignore_index = True)
test_d

   PostalCode  ...                                       Neighborhood
0         M5G  ...                                 Central Bay Street
1         M2H  ...                                  Hillcrest Village
2         M4B  ...                     Woodbine Gardens,Parkview Hill
3         M1J  ...                                Scarborough Village
4         M4G  ...                                            Leaside
5         M4M  ...                                    Studio District
6         M1R  ...                                   Maryvale,Wexford
7         M9V  ...  Albion Gardens,Beaumond Heights,Humbergate,Jam...
8         M9L  ...                                      Humber Summit
9         M5V  ...  CN Tower,Bathurst Quay,Island airport,Harbourf...
10        M1B  ...                                      Rouge,Malvern
11        M5A  ...                           Harbourfront,Regent Park

[12 rows x 3 columns]

In [10]:
tor_group.shape

(103, 3)

In [25]:
!wget -O Geospatial_Coordinates.csv 'https://cocl.us/Geospatial_data'

--2019-08-06 00:02:58--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.201
Connecting to cocl.us (cocl.us)|169.48.113.201|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-08-06 00:02:59--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-08-06 00:03:00--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-08-06 00:03:00--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211, 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!BpNimzOByl2YMSTJIg6rTbplaHp2BEamdiQlwKP6KHHYNtJWnmUXpqUCXqpN4Wqrvo9oD0XrYjYqnFsHGM573aJKH6L2OWTv1qXHGNOBovLMSbX8xuGQjIAMhvE6aNwFvmWlLFs7mDeYr8q83xxkDrHxBG5McrHYikTkaMEjGtxR3i71iF4A4dt5Coe8FbjeVGqfObz4jblq79HEFvUff0mGOWKVAfMGS5jbcGdIf6SXIZWejB6xHTmwodm4nonacYfSOvFYS08xLBZ3lxsFZ9WOjR88G8RPgB0ZA-kRn1Vih3ruW1qVpoF6nNZrzmv65LNc1bo67ONRZZ5AP0XqulbsAc2IIQ84L5vVf_7XM7PA4iTnpcC116G9zaeDSIqzcomBzGzYHhbEpum913eLkK822_Xpg0rcEmm98nmApToOCIwP2z_rpoGlUESjHl5eO5R3B6L5pfOh3O3L-NUYs-sP8FXsNVRFd7dusoJvQKDu05NbMmojS-eqCcnv_IuIirqU09hbuDrp6kaM6oqN6W8i9rm0QB4gJZYF0C6bCyJWmSOcCcQB1RW6Z7JBpS5wmq36_pA9hAY-lVrO6hHIECQQ01E8wTrsp33IZ5j56D6lj2X0rCyHRlpyyi99AXUqyzTBIkH1nDzOKKCBGr4TnPdkoeKvxfhNSm-T2WmpmcClasQ7pMkDfjtHWx5ZelNdNFImIDKiaQJpViEBChmk19APEpXIhDpFhBDVDll76MKbmqat6FmxTlfZ0jWK0U1nYWxLGHd_GppmMoLgyfBynqfoqgeQ26bTytvRRksuwWwCiJJ_WU3htJqk3b_j16fKWfc9_HUzy6e3jeovITlhOZVTIgLInC9kGHkLect-KcXx9yVpOv8pzkeWeO03MG1PQZyQuxY0hldb-JPpU4nPAys6a6aHgnEKDMKHFw3b573tvlqpkgHLXfAYI03k7oMWwwYgTdRTiOO5rxGxqJ3wg6TvIzVrbvHhfPaeS6MVt4R23MOEMejbOorbSaQGb67GLDjZ1oPp1Qm_2-U7UebEuLyev_AXlD0M7qsbsEHtf_I-F8Cr_wFb9JpVFoDanLCexpDuEAGCgHQiEy2A8q3ygTzFo07rFSQrndLqkcZMt9wnBahTAV4bMxv0wYvmzfjou1GZLehAzStOLtoMAPJNpC4JlKll7dN8fvGg12r2vCeLuz1j0FRgINmpEQ8WuCbpv8YEq3evdVe-0ixjd2ACAr-VE9GUQUMpRFgApT3i0HxP1I5aLCX46DlMb_mOZHkXIyKI5AybbiC3XcVPUtowpVXNrggA0G4mpNwP8ZZN-ZYwDAxyNIRKLAZcgvVQnEHlEwIHUb_Vz1uU-CfPnybMw3eyGcw1Td8v2X0jZgg8WjZXdeU6UleLSBNKhA../download [following]
--2019-08-06 00:03:01--  https://public.boxcloud.com/d/1/b1!BpNimzOByl2YMSTJIg6rTbplaHp2BEamdiQlwKP6KHHYNtJWnmUXpqUCXqpN4Wqrvo9oD0XrYjYqnFsHGM573aJKH6L2OWTv1qXHGNOBovLMSbX8xuGQjIAMhvE6aNwFvmWlLFs7mDeYr8q83xxkDrHxBG5McrHYikTkaMEjGtxR3i71iF4A4dt5Coe8FbjeVGqfObz4jblq79HEFvUff0mGOWKVAfMGS5jbcGdIf6SXIZWejB6xHTmwodm4nonacYfSOvFYS08xLBZ3lxsFZ9WOjR88G8RPgB0ZA-kRn1Vih3ruW1qVpoF6nNZrzmv65LNc1bo67ONRZZ5AP0XqulbsAc2IIQ84L5vVf_7XM7PA4iTnpcC116G9zaeDSIqzcomBzGzYHhbEpum913eLkK822_Xpg0rcEmm98nmApToOCIwP2z_rpoGlUESjHl5eO5R3B6L5pfOh3O3L-NUYs-sP8FXsNVRFd7dusoJvQKDu05NbMmojS-eqCcnv_IuIirqU09hbuDrp6kaM6oqN6W8i9rm0QB4gJZYF0C6bCyJWmSOcCcQB1RW6Z7JBpS5wmq36_pA9hAY-lVrO6hHIECQQ01E8wTrsp33IZ5j56D6lj2X0rCyHRlpyyi99AXUqyzTBIkH1nDzOKKCBGr4TnPdkoeKvxfhNSm-T2WmpmcClasQ7pMkDfjtHWx5ZelNdNFImIDKiaQJpViEBChmk19APEpXIhDpFhBDVDll76MKbmqat6FmxTlfZ0jWK0U1nYWxLGHd_GppmMoLgyfBynqfoqgeQ26bTytvRRksuwWwCiJJ_WU3htJqk3b_j16fKWfc9_HUzy6e3jeovITlhOZVTIgLInC9kGHkLect-KcXx9yVpOv8pzkeWeO03MG1PQZyQuxY0hldb-JPpU4nPAys6a6aHgnEKDMKHFw3b573tvlqpkgHLXfAYI03k7oMWwwYgTdRTiOO5rxGxqJ3wg6TvIzVrbvHhfPaeS6MVt4R23MOEMejbOorbSaQGb67GLDjZ1oPp1Qm_2-U7UebEuLyev_AXlD0M7qsbsEHtf_I-F8Cr_wFb9JpVFoDanLCexpDuEAGCgHQiEy2A8q3ygTzFo07rFSQrndLqkcZMt9wnBahTAV4bMxv0wYvmzfjou1GZLehAzStOLtoMAPJNpC4JlKll7dN8fvGg12r2vCeLuz1j0FRgINmpEQ8WuCbpv8YEq3evdVe-0ixjd2ACAr-VE9GUQUMpRFgApT3i0HxP1I5aLCX46DlMb_mOZHkXIyKI5AybbiC3XcVPUtowpVXNrggA0G4mpNwP8ZZN-ZYwDAxyNIRKLAZcgvVQnEHlEwIHUb_Vz1uU-CfPnybMw3eyGcw1Td8v2X0jZgg8WjZXdeU6UleLSBNKhA../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.25.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.25.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0s

2019-08-06 00:03:01 (472 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

In [27]:
location = pd.read_csv("Geospatial_Coordinates.csv")
location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
location.rename(columns={'Postal Code':'PostalCode'}, inplace = True)
location.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [32]:
tor_location = tor_group.merge(location, on = 'PostalCode', how = 'left')
tor_location.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [40]:
columnname = ['PostalCode','Borough', 'Neighborhood', 'Latitude', 'Longitude']
test_list = ['M5G','M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R','M9V','M9L','M5V','M1B', 'M5A']

test_dd = pd.DataFrame(columns=columnname)

for code in test_list:
  test_dd = test_dd.append(tor_location[tor_location['PostalCode']==code], ignore_index = True)
test_dd

   PostalCode           Borough  ...   Latitude  Longitude
0         M5G  Downtown Toronto  ...  43.657952 -79.387383
1         M2H        North York  ...  43.803762 -79.363452
2         M4B         East York  ...  43.706397 -79.309937
3         M1J       Scarborough  ...  43.744734 -79.239476
4         M4G         East York  ...  43.709060 -79.363452
5         M4M      East Toronto  ...  43.659526 -79.340923
6         M1R       Scarborough  ...  43.750072 -79.295849
7         M9V         Etobicoke  ...  43.739416 -79.588437
8         M9L        North York  ...  43.756303 -79.565963
9         M5V  Downtown Toronto  ...  43.628947 -79.394420
10        M1B       Scarborough  ...  43.806686 -79.194353
11        M5A  Downtown Toronto  ...  43.654260 -79.360636

[12 rows x 5 columns]